.Pane {
    width: 20vw;
    height: 100vh;
    padding-top: 25px;
    background:rgb(65, 63, 63);
}

.Form-Container {
    width: 17vw;
    height: 70vh;
    margin-left: 45px;
    overflow-y:auto;
    
}

.Run-Button {
    margin-left: 100px;
    margin-bottom: 10px;
    cursor: pointer
}

.Run-Button2 {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 80px;
}